*.iml
.gradle
Astronomer/local.properties
Astronomer/.idea/caches
Astronomer/.idea/libraries
Astronomer/.idea/modules.xml
Astronomer/.idea/workspace.xml
Astronomer/.idea/navEditor.xml
Astronomer/.idea/assetWizardSettings.xml
.DS_Store
Astronomer/build
Astronomer/captures
.externalNativeBuild
*__pycache__/
api/db/
api/config.py
api/notes.md
.vscode/
*.log
api/config.py
env/
Astronomer/.idea/vcs.xml
