*.iml
.gradle
PocketAstronomer-Android/local.properties
PocketAstronomer-Android/.idea/caches
PocketAstronomer-Android/.idea/libraries
PocketAstronomer-Android/.idea/modules.xml
PocketAstronomer-Android/.idea/workspace.xml
PocketAstronomer-Android/.idea/navEditor.xml
PocketAstronomer-Android/.idea/assetWizardSettings.xml
.DS_Store
PocketAstronomer-Android/build
PocketAstronomer-Android/captures
.externalNativeBuild
